

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
            integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/chatStyle.css">

    <main>
        <div id="app" class="container">
            <div>
                <div class="col-md-6 offset-md-3 col-sm-12">
                    <h1 class="text-center">\{{title}}</h1>
                    <br>
                    <div id="status"></div>
                    <div id="chat-window">
                        <br>
                      <div v-on="addName('{{portfolio.name}}')"></div>
                      <div v-on="addImage('uploads/avatar/{{portfolio.profileImage}}')"></div>
                      <div class="card">
                        <div id="messages" class="msg-box">
                          <ul class>
                            <li v-for="message of messages">
                              <div class="flr">
                                <div>
                                  <p class="username">
                                    <img :src="message.image" width="20" height="20" class="user-img" id="user-0"/>
                                    \{{message.name}}</p>
                                  <p class="msg" id="msg-0">
                                    - \{{message.text}}</p>
                                </div>
                              </div>
                            </li>

                          </ul>
                        </div>
                        </div>
                        <br>
                      <div class="send-message">
                        <textarea type="text" id="textarea" class="form-control chat-input" v-model="text"
                                  placeholder="Enter message..."></textarea>
                        <br>

                        <button id="send" class="btn" @click.prevent="sendMessage()">Отправить сообщение</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/main.js"></script>
</main>